- model_class = Product
.page-header
  %h1 Basket
- if @basket.order_items.present?
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Amount
        %th Price
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @basket.order_items.each do |item|
        %tr
          %td= item.product.name
          %td= item.amount
          %td= [(item.product.price * item.amount), item.product.currency].join
          %td= link_to "remove from cart", remove_product_path(item.product)
- else
  Cart is empty :(
