- model_class = Product
.page-header
  %h1 Basket
- if @basket.order_items.present?
  = render 'orders/items', order: @basket
  .row
    - @basket.promotions.each do |promotion|
      %div= [promotion.code, link_to('(x)', basket_delete_promotion_path(id: promotion.id))].join.html_safe
    = render 'basket/promotion_form'
  %hr
  .row
    = render 'orders/form'
- else
  Cart is empty :(
